version: "3.8"
services:
  # RPC daemon
  bitcoin:
    image: ghcr.io/vulpemventures/bitcoin:latest
    user: 1000:1000
    container_name: bitcoin
    command:
      - -regtest=1
      - -port=18444
      - -rpcport=18443
      - -txindex=1
      - -rpcuser=admin1
      - -rpcpassword=123
      - -rpcallowip=0.0.0.0/0
      - -rpcbind=0.0.0.0
      - -fallbackfee=0.00001
      - -zmqpubrawblock=tcp://0.0.0.0:28332
      - -zmqpubrawtx=tcp://0.0.0.0:28333
    ports:
      - "18443:18443"
      - "18444:18444"
      # ZMQ
      - "28332:28332"
      - "28333:28333"
    volumes:
      - bitcoin:/home/bitcoin/.bitcoin
    restart: unless-stopped
    networks:
      vtto:
        ipv4_address: 10.5.0.2

  # Block explorer server
  electrs:
    image: ghcr.io/vulpemventures/electrs:latest
    container_name: electrs
    entrypoint:
      - /build/electrs
    command:
      - -vvvv
      - --network
      - regtest
      - --daemon-dir
      - /home/user/.bitcoin
      - --db-dir
      - /home/user/db
      - --daemon-rpc-addr
      - 10.5.0.2:18443
      - --cookie
      - admin1:123
      - --http-addr
      - 0.0.0.0:3000
      - --electrum-rpc-addr
      - 0.0.0.0:50000
      - --cors
      - "*"
      - --jsonrpc-import
    volumes:
      - bitcoin:/home/user/.bitcoin:ro
      - electrs:/home/user/db
    depends_on:
      - bitcoin
    ports:
      - "50000:50000"
      - "3000:3000"
    restart: unless-stopped
    networks:
      vtto:
        ipv4_address: 10.5.0.3

  # Block explorer frontend
  esplora:
    image: ghcr.io/vulpemventures/esplora:latest
    container_name: esplora
    depends_on:
      - electrs
    environment:
      API_URL: http://localhost:3000
    ports:
      - "5050:5000"
    restart: unless-stopped
    networks:
      vtto:
        ipv4_address: 10.5.0.4

  faucet:
    image: nginx
    container_name: faucet
    ports:
      - "8080:80"
    volumes:
      - ./services/faucet/faucet.html:/usr/share/nginx/html/faucet/index.html
      - ./services/faucet/open_channel.html:/usr/share/nginx/html/channel/index.html
      - ./services/faucet/default.conf:/etc/nginx/conf.d/default.conf
      - ./services/faucet/btc-fee-estimates.json:/usr/share/nginx/html/fee/btc-fee-estimates.json
    depends_on:
      - bitcoin
    restart: unless-stopped
    networks:
      vtto:
        ipv4_address: 10.5.0.7

  db:
    container_name: db
    image: postgres:15-alpine
    volumes:
      - postgres:/var/lib/postgresql/data
      - ./services/database:/docker-entrypoint-initdb.d/
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: mysecretpassword
    networks:
      vtto:
        ipv4_address: 10.5.0.8

  oracle:
    container_name: oracle
    image: ghcr.io/holzeis/p2pdoracle:0.4.3
    depends_on:
      - db
    ports:
      - "8081:8081"
    environment:
      P2PDORACLE_DATABASE_HOST: db
      P2PDORACLE_ORACLE_KEYFILE: /key/key.pem
      P2PDORACLE_ORACLE_KEYPASS: EFRMPJKf6hQvNjHsgtnjBtKQ2k+YzrTrjcC8vrQegUY=
    volumes:
      - ./services/oracle/default.yml:/config/default.yml
      - ./services/oracle/key.pem:/key/key.pem
    restart: always
    networks:
      vtto:
        ipv4_address: 10.5.0.9
networks:
  default:
    name: vtto
  vtto:
    driver: bridge
    ipam:
      config:
        - subnet: 10.5.0.0/16
          gateway: 10.5.0.1

volumes:
  bitcoin:
  postgres:
  electrs:
