<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>method</key>
        <string>app-store</string>
        <key>teamID</key>
        <string>V3D64P9D6W</string>
        <key>provisioningProfiles</key>
        <dict>
            <key>finance.get10101.app</key>
            <string>TestFlight Get10101 Test Provisioning</string>
        </dict>
    </dict>
</plist>
