scrape_configs:
  - job_name: "coordinator"
    metrics_path: /metrics
    static_configs:
      # Coordinator endpoint
      - targets: ["localhost:8000"]
    # For a real deployment, you would want the scrape interval to be
    # longer but for testing, you want the data to show up quickly
    scrape_interval: 200ms
