<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CLIENT_ID</key>
        <string>237191932527-70uoogr06k3rrrmslr5u1r6i4st9ch39.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.237191932527-70uoogr06k3rrrmslr5u1r6i4st9ch39</string>
        <key>API_KEY</key>
        <string>AIzaSyD1FiZUHkX-rdHUtAXU12ku2e7zmBHqLSQ</string>
        <key>GCM_SENDER_ID</key>
        <string>237191932527</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>finance.get10101.app</string>
        <key>PROJECT_ID</key>
        <string>project-3195624368411891722</string>
        <key>STORAGE_BUCKET</key>
        <string>project-3195624368411891722.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <false></false>
        <key>IS_ANALYTICS_ENABLED</key>
        <false></false>
        <key>IS_APPINVITE_ENABLED</key>
        <true></true>
        <key>IS_GCM_ENABLED</key>
        <true></true>
        <key>IS_SIGNIN_ENABLED</key>
        <true></true>
        <key>GOOGLE_APP_ID</key>
        <string>1:237191932527:ios:ed5586aaa838be1e36bb9a</string>
</dict>
</plist>
