name: "Attach binaries to GitHub release"

on:
  release:
    types: [created]
  workflow_dispatch:
    inputs:
      version:
        description: "The github tag to build the release for e.g. 1.4.1."
        required: true


env:
  FLUTTER_VERSION: "3.13.4"
  RUST_VERSION: "1.70.0"

jobs:
  build_docker_image_for_release:
    permissions:
      packages: write
      contents: read
    uses: ./.github/workflows/docker.yml
    secrets: inherit
    with:
      tag: ${{ github.ref_name }}

  build_and_release_mainnet_ios_app_for_latest_main:
    permissions:
      packages: write
      contents: read
    uses: ./.github/workflows/ios-fastlane.yml
    secrets: inherit
    with:
      esplora_endpoint: http://api.10101.finance:3000
      coordinator_p2p_endpoint: 022ae8dbec1caa4dac93f07f2ebf5ad7a5dd08d375b79f11095e81b065c2155156@46.17.98.29:9045
      coordinator_port_http: 80
      network: mainnet
      tag: ${{ github.ref_name }}
      oracle_endpoint: http://oracle.10101.finance
      oracle_pubkey: 93051f54feefdb4765492a85139c436d4857e2e331a360c89a16d6bc02ba9cd0
      fastlane_developer_app_identifier: finance.get10101.app
      fastlane_provisioning_profile_specifier: match AppStore finance.get10101.app 1692208014
      app_scheme: Runner
      rgs_server_url: https://rapidsync.lightningdevkit.org/snapshot/

  build_and_release_mainnet_android_app_for_latest_main:
    permissions:
      packages: write
      contents: write
    uses: ./.github/workflows/android-fastlane.yml
    secrets: inherit
    with:
      tag: ${{ github.ref_name }}
      esplora_endpoint: http://api.10101.finance:3000
      coordinator_p2p_endpoint: 022ae8dbec1caa4dac93f07f2ebf5ad7a5dd08d375b79f11095e81b065c2155156@46.17.98.29:9045
      coordinator_port_http: 80
      network: mainnet
      oracle_endpoint: http://oracle.10101.finance
      oracle_pubkey: 93051f54feefdb4765492a85139c436d4857e2e331a360c89a16d6bc02ba9cd0
      rgs_server_url: https://rapidsync.lightningdevkit.org/snapshot/
