name: "Build and push deliverables for latest main"

on:
  push:
    branches:
      - main

jobs:
  build_docker_image_for_latest_main:
    permissions:
      packages: write
      contents: read
    uses: ./.github/workflows/docker.yml
    secrets: inherit
    with:
      tag: main

  # job to run change detection
  changes:
    runs-on: ubuntu-latest
    # Set job outputs to values from filter step
    outputs:
      ios-app: ${{ steps.filter.outputs.ios-app }}
    steps:
      - uses: actions/checkout@v3
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filters: |
            ios-app:
              - '.github/workflows/ios.yml'
              - 'crates/**'
              - 'mobile/**'
              - 'Cargo.*'

  build_and_release_regtest_ios_app_for_latest_main:
    needs: changes
    if: needs.changes.outputs.ios-app == 'true'
    permissions:
      packages: write
      contents: read
    uses: ./.github/workflows/ios-fastlane.yml
    secrets: inherit
    with:
      esplora_endpoint: http://34.32.0.52:3000
      coordinator_p2p_endpoint: 03507b924dae6595cfb78492489978127c5f1e3877848564de2015cd6d41375802@34.32.0.52:9045
      coordinator_port_http: 80
      network: regtest
      tag: main
      oracle_endpoint: http://34.32.0.52:8081
      oracle_pubkey: 5d12d79f575b8d99523797c46441c0549eb0defb6195fe8a080000cbe3ab3859
      fastlane_developer_app_identifier: finance.get10101.app.test
      fastlane_provisioning_profile_specifier: match AppStore finance.get10101.app.test
      app_scheme: test

  build_and_release_regtest_android_app_for_latest_main:
    needs: changes
    if: needs.changes.outputs.ios-app == 'true'
    permissions:
      packages: write
      contents: write
    uses: ./.github/workflows/android-fastlane.yml
    secrets: inherit
    with:
      tag: main
      esplora_endpoint: http://34.32.0.52:3000
      coordinator_p2p_endpoint: 03507b924dae6595cfb78492489978127c5f1e3877848564de2015cd6d41375802@34.32.0.52:9045
      coordinator_port_http: 80
      network: regtest
      oracle_endpoint: http://34.32.0.52:8081
      oracle_pubkey: 5d12d79f575b8d99523797c46441c0549eb0defb6195fe8a080000cbe3ab3859
