name: "Build and push deliverables for latest main"

on:
  push:
    branches:
      - main

jobs:
  build_docker_image_for_latest_main:
    permissions:
      packages: write
      contents: read
    uses: ./.github/workflows/docker.yml
    with:
      tag: main

  # job to run change detection
  changes:
    runs-on: ubuntu-latest
    # Set job outputs to values from filter step
    outputs:
      ios-app: ${{ steps.filter.outputs.ios-app }}
    steps:
      - uses: actions/checkout@v3
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filters: |
            ios-app:
              - '.github/workflows/ios.yml'
              - 'crates/**'
              - 'mobile/**'
              - 'Cargo.*'

  build_and_release_ios_app_for_latest_main:
    needs: changes
    if: ${{ needs.changes.outputs.ios-app == 'true' }}
    permissions:
      packages: write
      contents: read
    uses: ./.github/workflows/ios.yml
    secrets: inherit
    with:
      electrs_endpoint: 35.189.57.114:50000
      coordinator_p2p_endpoint: 026e1de0e76902d71d2c27bfdda9d48c19c4c550f08bb4189d7208246e0e3af97e@35.189.57.114:9045
      tag: main
